<div class="container pt-5">
  <div class="row d-flex">
    <form class="mt-form w-100">
      <div class="row">
        <div class="col-md-8">
          <mat-form-field class="mt-full-width mt-3">
            <input (emptied)="isEmptyString(todo)" matInput placeholder="Yapılacak birşey ekle" #todo>
            <mat-hint style="color:red;" *ngIf="msg"> {{msg}} </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <button type="submit" class="w-100 btn-submit" (click)="addTodo(todo)" mat-raised-button color="primary">
            {{newButtonText}}
          </button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="todos.length !== 0 || dones.length !== 0 else noItems" class="row d-flex">
    <div style="border:1px solid #ccc; border-radius: 5px; padding: 5px;" class="col-md-6 right-10">
      <h3 class="text-center p-2">{{todosTitle}}</h3>
      <mat-card class="m-2" *ngFor="let todo of todos"><span #todoName>{{todo}}</span>
        <span>
          <button class="btn btn-sm btn-danger float-right ml-1" (click)="removeTodo(todoName)"><i
            class="fa fa-remove"></i> {{deleteString}}</button>
          <button class="btn btn-sm btn-success float-right" (click)="markAsDone(todoName)"><i
            class="fa fa-check"></i> {{completedString}}</button>
        </span>
      </mat-card>
    </div>
    <div style="border:1px solid #ccc; border-radius: 5px; padding: 5px" class="col-md-6">
      <h3 class="text-center p-2">{{donesTitle}}</h3>
      <mat-card class="m-2" *ngFor="let done of dones">
        <span #doneName>{{done}}</span>
        <span>
          <button class="btn btn-sm btn-danger float-right ml-1" (click)="removeDone(doneName)"><i
            class="fa fa-remove"></i> {{deleteString}}</button>
        </span>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #noItems>
  {{emptyInfo}}
</ng-template>
