.share, .sharedisable, .short, .shortdisable {
  text-transform: capitalize;
  border: 0 solid red
}
.account, .share, .sharedisable, .short, .shortdisable {
  border: 0 solid red
}
.adverArea .notesTextArea, .barback, .barsag, .barsol, .menu, .notesTextArea {
  background-color: transparent
}
body {
  font-family: Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif
}
img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999999
}
.mainDiv {
  position: relative;
  width: 98%;
  min-width: 780px;
  padding-top: 20px;
  font-size: 12px;
  margin: 0 auto;
  display: block
}
.whatIsNotesIO {
  width: 150px;
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer
}
.adverWhatsNotes {
  text-align: center!important
}
.auto-style9, .auto-style9 span, .char, .charerr, .footer, .message h1 {
  text-align: center
}
.programArea {
  float: left;
  width: 100%;
  margin-bottom: 20px
}
.barsol {
  width: 9px;
  background-image: url(/theme/macNew/images/barsol.png)
}
.barback {
  background-image: url(/theme/macNew/images/barback.png)
}
.barback .logo {
  float: left;
  padding-left: 20px
}
.barback .slogan {
  float: left;
  margin-left: 30px;
  margin-top: 5px;
  width: auto;
  height: 50px
}
.barback .slogan p {
  width: 20px;
  overflow: hidden;
  text-indent: -1000em
}
.barsag {
  width: 9px;
  height: 67px;
  background-image: url(/theme/macNew/images/barsag.png)
}
.menu {
  float: right;
  width: 340px;
  margin-top: 2px;
  text-indent: -900%
}
.short, .short:hover, .shortdisable {
  float: left;
  width: 58px;
  height: 48px;
  overflow: hidden;
  text-indent: -1000em;
  background-image: url(/theme/macNew/images/short.png)
}
.short {
  background-position: 0 0
}
.shortdisable {
  background-position: 0 48px
}
.short:hover {
  background-position: 0 96px;
  cursor: pointer
}
.share, .share:hover, .sharedisable {
  float: left;
  width: 58px;
  height: 48px;
  overflow: hidden;
  text-indent: -1000em;
  background-image: url(/theme/macNew/images/share.png)
}
.share {
  background-position: 0 0
}
.sharedisable {
  background-position: 0 48px
}
.share:hover {
  background-position: 0 96px;
  cursor: pointer
}
.account, .accountDisable {
  text-transform: capitalize;
  float: left;
  width: 58px;
  height: 48px;
  overflow: hidden;
  text-indent: -1000em;
  background-image: url(/theme/macNew/images/account.png)
}
.account {
  background-position: 0 0
}
.accountDisable {
  border: 0 solid red;
  background-position: 0 48px
}
.myNotes, .myNotesDisable {
  text-transform: capitalize;
  height: 48px;
  background-image: url(/theme/macNew/images/myNotes.png);
  border: 0 solid red;
  float: left;
  width: 58px;
  text-indent: -1000em;
  overflow: hidden
}
.account:hover {
  float: left;
  width: 58px;
  height: 48px;
  overflow: hidden;
  text-indent: -1000em;
  background-position: 0 96px;
  cursor: pointer
}
.myNotes {
  background-position: 0 0
}
.myNotesDisable {
  background-position: 0 48px
}
.myNotes:hover {
  float: left;
  width: 58px;
  height: 48px;
  overflow: hidden;
  text-indent: -1000em;
  background-position: 0 96px;
  cursor: pointer
}
a.comingsoon, a.comingsoon:hover {
  width: 162px;
  height: 48px;
  float: left
}
a.comingsoon {
  background-image: url(/theme/macNew/images/comingsoon.png)
}
a.comingsoon:hover {
  background-position: 0 48px
}
.notesArea {
  float: left;
  width: 100%;
  min-height: 300px;
  background-image: url(/theme/macNew/images/notespageback.png);
  padding: 0
}
.notesTextArea {
  padding-left: 20px;
  margin-left: 19px;
  padding-top: 15px;
  border: 0;
  width: 95%;
  font-size: 22px;
  font-family: "Marker Felt", "Segoe Print", Geneva, Verdana, sans-serif;
  line-height: 41px;
  background-image: url(/theme/macNew/images/notesline.png);
  background-repeat: repeat-y;
  display: block;
  overflow: hidden;
  resize: none
}
.adverArea, .message, .messageBOXback, .messageback {
  position: fixed;
  display: none
}
.adverArea {
  right: 10px;
  margin-bottom: 20px;
  width: 4%
}
.adverArea .notesTextArea {
  width: 88%;
  font-size: 12px;
  margin: 1px;
  line-height: 25px
}
.adverArea .notesTextArea a {
  color: #4b210f;
  text-decoration: underline;
  font-size: 16px
}
.scrollArea {
  overflow: auto;
  height: 100px
}
.adverArea .notesTextArea ul li {
  margin: 10px
}
.adverArea .notesTextArea ul li img {
  margin-right: 10px
}
.char {
  position: fixed;
  z-index: 5;
  bottom: 0;
  right: 0;
  width: 126px;
  height: 31px;
  background-image: url(/theme/macNew/images/kbback.png);
  color: #FFF;
  text-shadow: 0 1px 0 #000;
  line-height: 31px;
  margin: 50px
}
.charerr {
  color: Red
}
.message {
  width: 420px;
  min-height: 250px;
  top: 10%;
  left: 10%;
  z-index: 999999
}
.message h1 {
  color: #fff;
  font-size: 14px;
  letter-spacing: -1px
}
.messageback {
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #000
}
.messageBOXback {
  width: 532px;
  height: 272px;
  z-index: 99;
  background-image: url(/theme/macNew/images/messagebox/messageBOXback.png);
  background-repeat: no-repeat;
  margin: -60px
}
.auto-style1 {
  width: 13px;
  height: 34px;
  background-image: url(/theme/macNew/images/messagebox/1.png)
}
.auto-style2 {
  background-image: url(/theme/macNew/images/messagebox/2.png);
  padding: 0;
  margin: 0
}
.auto-style2 h1 {
  vertical-align: bottom;
  padding: 0;
  margin: 0
}
.auto-style3 {
  width: 14px;
  background-image: url(/theme/macNew/images/messagebox/3.png)
}
.auto-style4 {
  background-image: url(/theme/macNew/images/messagebox/4.png)
}
.auto-style5 {
  background-image: url(/theme/macNew/images/messagebox/5.png)
}
.auto-style6 {
  width: 13px;
  height: 5px;
  background-image: url(/theme/macNew/images/messagebox/6.png);
  background-repeat: no-repeat
}
.auto-style7 {
  background-repeat: repeat-x;
  background-image: url(/theme/macNew/images/messagebox/7.png)
}
.auto-style8 {
  background-repeat: no-repeat;
  background-image: url(/theme/macNew/images/messagebox/8.png)
}
.auto-style9 {
  clear: both;
  line-height: 20px;
  font-family: Lucida Sans Unicode;
  font-style: normal;
  color: #4b4b4b;
  font-size: 12px;
  background-color: #d2d2d2;
  padding: 10px
}
.auto-style9 span {
  font-size: 22px;
  letter-spacing: -2px;
  font-weight: 700
}
.closeBTNpopup {
  position: absolute;
  width: 46px;
  height: 20px;
  background-image: url(/theme/macNew/images/messagebox/closeBTN.png);
  margin-top: -4px;
  z-index: 9999
}
.close, .close:hover {
  background-image: url(/theme/macNew/images/closeBtn.png);
  background-repeat: no-repeat
}
.closeBTNpopup:hover {
  background-position: 0 -20px
}
.close {
  position: absolute;
  width: 15px;
  height: 14px;
  border: 0;
  background-position: 0 0;
  margin: 6px
}
.signInWithFacebook, .signInWithTwitter {
  font-family: "Lucida Grande", "Helvetica Neue", Arial, sans-serif;
  width: 178px;
  text-indent: -1000em;
  margin: 0 auto
}
.close:hover {
  background-position: -15px 0
}
.signInWithTwitter {
  display: block;
  min-height: 29px;
  background-image: url(/theme/macNew/images/signInWithTwitter.png);
  background-position: top center
}
.signInWithTwitter:hover {
  cursor: pointer;
  background-position: 0 -29px
}
.signInWithTwitter.disable {
  background-position: 0 29px
}
.signInWithFacebook {
  cursor: pointer;
  height: 29px;
  background-image: url(/theme/macNew/images/signInWithfacebook.png);
  background-position: top center
}
.signInWithFacebook:hover {
  background-position: center bottom
}
.signInWithFacebook.disable {
  background-position: 0 29px
}
.loginITEM {
  margin: 10px
}
.socialmedia {
  margin: 0 auto;
  width: 290px;
  padding: 10px
}
.facebookbtn {
  float: left;
  text-indent: -9999px;
  display: block;
  background-image: url(/theme/macNew/images/messagebox/social/facebook.png);
  background-color: transparent;
  width: 56px;
  height: 50px;
  border: 0;
  background-position: 0 53px;
  margin: 20px
}
.friendfeedbtn, .twitterbtn {
  background-color: transparent;
  width: 56px;
  height: 50px;
  text-indent: -9000px;
  overflow: hidden;
  border: 0;
  background-position: 0 53px;
  margin: 20px;
  display: block;
  float: left
}
.twitterbtn {
  background-image: url(/theme/macNew/images/messagebox/social/twitter.png)
}
.friendfeedbtn {
  background-image: url(/theme/macNew/images/messagebox/social/friendfeed.png)
}
.notespagebottom1, .notespagebottom2, .notespagebottom3 {
  height: 17px;
  background-repeat: repeat-x
}
.facebookbtn:hover, .friendfeedbtn:hover, .twitterbtn:hover {
  background-position: 0 0
}
.notespagebottom1 {
  width: 25px;
  background-image: url(/theme/macNew/images/notespagebottom1.png)
}
.notespagebottom2 {
  background-image: url(/theme/macNew/images/notespagebottom2.png)
}
.notespagebottom3 {
  width: 19px;
  background-image: url(/theme/macNew/images/notespagebottom3.png)
}
.shortURL {
  font-size: 25px;
  letter-spacing: -1px
}
.shortURL a span {
  font-size: 26px;
  letter-spacing: 0
}
.shortURL a {
  color: #636363;
  text-decoration: none
}
.shortURL a span:hover, .shortURL a:hover {
  color: #fff;
  text-shadow: 0 1px 0 #19130d
}
.footer, .footer a {
  font-weight: 900 !;
  text-shadow: 0 1px 0 #bb7d56;
  color: #000000
}
.footer {
  display: block;
  float: left;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  font-weight: 200;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Lucida Grande", "Lucida Sans Unicode", sans-serif
}

.footer .socialArea .twitter-follow-button {
  margin-bottom: 10px
}
.footer a {
  text-decoration: none;
  font-weight: 500;
  line-height: 20px
}
.footer a:hover {
  text-decoration: underline;
  color: #4a0000;
}
