<div class="programArea">
  <table width="100%">
    <tbody><tr>
      <td class="barsol"></td>

      <td class="barback"><a href="http://notes.io"><img src="theme/mac/images/logo.png" class="logo" alt="notes.io logo"></a>
        <div class="slogan">
          <img src="/theme/macNew/images/fastEasyShort.png" alt="Fast | Easy | Short">

          <p>
            Notes.io is a Note Shortener // Fast | Easy | Short
          </p>
        </div>
        <div class="menu">

          <input id="btnShort" type="button" class="short" value="short">

          <a href="#" class="comingsoon">Coming Soon</a>
          <input id="btnAccount" type="button" class="account" value="Account">
          <input id="" type="button" class="myNotesDisable" value="Account">                    </div>
      </td>

      <td class="barsag"></td>
    </tr>
    </tbody></table>

  <div class="notesArea" style="min-height: 414.667px;">
    <textarea id="notesTextAreaID" class="notesTextArea" rows="2" cols="25" style="overflow: hidden; height: 425px; padding-top: 0px; padding-bottom: 0px; min-height: 414.667px;">Write a note in this area.  It's really easy to share with others. Click here ...</textarea>
  </div>

  <table width="100%">
    <tbody><tr>
      <td class="notespagebottom1">&nbsp;</td>

      <td class="notespagebottom2">&nbsp;</td>

      <td class="notespagebottom3">&nbsp;</td>
    </tr>
    </tbody></table>
</div>

